<table class="table table-bordered table-condensed table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th class="hidden-sm"><%= sortable "status" %></th>
    <th class="hidden-sm"><%= sortable "reported_at" %></th>
  </tr>
  <tbody id="nodes">
    <%= render @nodes %>
  </tbody>
</table>
