<div class="form-group">
  <div class="row">
    <div class="col-lg-9">
      <%= f.collection_select(:node_class_id, NodeClass.order(:name), :id, :name, { prompt: true }, { class: 'form-control' }) %>
    </div>
    <div class="col-lg-1">
      <%= link_to_remove_fields "Remove", f %>
    </div>
  </div>
</div>
