<div class="panel panel-default">
  <div class="panel-heading">Nodes</div>
  <div class="panel-body">
    <%= render 'nodes/list' %>
  </div>
</div>
<script>
  $(function() {
    setInterval(function(){
      $.getScript("<%= current_url(format: :js) %>");
    }, 5000);
  });
</script>
