<div class="panel panel-default">
  <div class="panel-heading">Classes</div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th><%= sortable "name" %></th>
        <th>Nodes</th>
      </tr>
      <tbody id="node_classes">
        <%= render @node_classes %>
      </tbody>
    </table>
  </div>
</div>
