development:
#  spool_path: /tmp/enc_spool
  puppetdb:
    host: hostname
    port: port
# Optionally relay reports
#  report_relay:
#    host: hostname
#    port: port
production:
#  spool_path: /tmp/enc_spool
  puppetdb:
    host: hostname
    port: port
# Optionally relay reports
#  report_relay:
#    host: hostname
#    port: port
