<div class="panel panel-default">
  <div class="panel-heading">Groups</div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th><%= sortable "name" %></th>
        <th>Nodes</th>
      </tr>
      <tbody id="node_groups">
        <%= render @node_groups %>
      </tbody>
    </table>
  </div>
</div>
